<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="waagent-rs" Language="1033" Version="0.1.1" Manufacturer="waagent-rs" UpgradeCode="e2e2b6e2-7c2a-4e2a-9e2a-2e2b6e2a7c2a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="waagent-rs">
          <Component Id="MainExecutable" Guid="a7c2a2e2-b6e2-4e2a-9e2a-7c2a2e2b6e2a">
            <File Source="target\release\waagent-rs-poc.exe" KeyPath="yes" />
            <ServiceInstall
              Id="WaagentRsServiceInstall"
              Type="ownProcess"
              Name="waagent-rs-poc"
              DisplayName="waagent-rs Agent"
              Description="waagent-rs Rust Agent Service"
              Start="auto"
              ErrorControl="normal"
              Arguments="--service"
              />
            <ServiceControl
              Id="WaagentRsServiceControl"
              Name="waagent-rs-poc"
              Start="install"
              Stop="both"
              Remove="uninstall"
              Wait="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Product>
</Wix>
